/* .table-responsive.www_table.disable-scrollbars::-webkit-scrollbar {
    display: none !important;
}

.table-responsive.www_table.disable-scrollbars::-webkit-scrollbar {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  } */

